 body {
   padding-left: 0;
   padding-right: 0;
   padding-top: 50px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 /* Set floating body text margins to 0 */
 [class*="dom-paragraph"] p {
   margin: 0 0 10px 0;
 }
 #absolute-wrapper {
   position: relative;
   width: 980px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .dom-paragraph {
   overflow: hidden;
   width: 83px;
   height: 70px;
   position: absolute;
   top: 655px;
   left: 87px;
 }
 .container .row-fluid .span6 .well .row-fluid .span5 .image {
   height: 84px;
   width: 84px;
 }
 .container .row-fluid .span6 .well .row-fluid .span5 .dom-pre {
   border: none;
   padding: 0px;
   height: 20px;
   width: 160px;
 }
 .container .row-fluid .span6 .well .row-fluid .span7 .well {
   padding: 0px;
 }
 .container .row-fluid .span6 .well .row-fluid .span7 .well .row-fluid .span6 p {
   margin: 10px 0px 10px 0px;
 }
 .container .row-fluid .span6 .well .row-fluid .span7 .well .row-fluid .span6 p.p-1 {
   text-align: center;
 }
 .container .row-fluid .span6 .well .row-fluid .span7 .navbar {
   margin: 0px;
   height: 42px;
   width: 231px;
 }
 .container .row-fluid .span6 .well .row-fluid .span7 .navbar .navbar-inner {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #f2f2f2 100%);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #f2f2f2 100%);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #f2f2f2 100%);
   background-image: linear-gradient(180deg, #ffffff 0%, #f2f2f2 100%);
   padding: 0px;
   height: 42px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .container .row-fluid .span6 .well .row-fluid .span5 .badge.badge-1 {
   background: #45832c;
   text-shadow: none;
 }
 .container .row-fluid .span6 .well .image.image-1 {
   height: 65px;
 }
 .container .row-fluid .span6 .well .image.image-2 {
   width: 138px;
 }
 .container .row-fluid .span6 .well .image.image-1.image-3 {
   width: 133px;
 }
 .container .row-fluid .span6 .well .btn {
   font-size: 20px;
 }
 .container .row-fluid .span3 .heading {
   font-size: 22px;
 }
 .container .row-fluid .span9 .nav .active a {
   background: rgba(216, 215, 211, 0.792157);
   color: #393939;
 }
 .container .row-fluid .span5.span5-1 {
   height: 175px;
   width: 380px;
 }
 .container .row-fluid .span5-1 .table tbody tr td {
   font-size: 12px;
   line-height: 14px;
   padding: 4px;
 }
 .container .row-fluid .span3 .well.well-1 {
   border-right: 1px solid #1c1919;
 }
 .container .row-fluid .span3 .well.well-2 {
   border: none;
 }
 .container .row-fluid .span3 .well.well-2 p {
   font-size: 20px;
   text-align: center;
 }
 .container .row-fluid .span3 .well.well-1 p {
   font-size: 20px;
   text-align: center;
 }
 .container .row-fluid .span3 .well.well-1 .btn {
   background: #6b84af;
   color: #ffffff;
   text-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
 }
 .container .row-fluid .span3 p.p-2 {
   margin: 0px;
 }
 .container .row-fluid .span3 .rectangle {
   background: #80ccff;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border-radius: 0px;
   margin: 0px;
   border: none;
   height: 345px;
   width: 224px;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 {
   background: rgba(0, 0, 0, 0);
   border-radius: 0px;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   padding: 0px 0px 20px 0px;
   margin: 0px;
   text-shadow: none;
   line-height: 18px;
   font-family:"helvetica";
   font-weight: normal;
   text-decoration: none;
   text-align: left;
   color: #222222;
   font-size: 12px;
   border: none;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 h4 {
   background-attachment: scroll;
   background-color: rgba(0, 0, 0, 0);
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: none;
   font-family: helvetica, arial, sans-serif;
   font-size: 18px;
   font-style: normal;
   font-variant: normal;
   font-weight: bold;
   height: 24px;
   left: auto;
   letter-spacing: normal;
   line-height: 22px;
   list-style: disc outside none;
   margin: 5px 0px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: 320px;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 h4 a {
   background-attachment: scroll;
   background-color: rgba(0, 0, 0, 0);
   background-image: none;
   border: 0px none #106aa7;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #106aa7;
   cursor: auto;
   direction: ltr;
   display: inline;
   empty-cells: show;
   float: none;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: auto;
   left: auto;
   letter-spacing: normal;
   line-height: 22px;
   list-style: disc outside none;
   margin: 0px 0px 0px 10px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #106aa7 none 0px;
   overflow: visible;
   padding: 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: auto;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart {
   background-attachment: scroll;
   background-color: rgba(0, 0, 0, 0);
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: none;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 225px;
   left: auto;
   letter-spacing: normal;
   line-height: 18px;
   list-style: disc outside none;
   margin: 20px 0px 0px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: 320px;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .wrapper {
   background-attachment: scroll;
   background-color: rgba(0, 0, 0, 0);
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: none;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 175px;
   left: auto;
   letter-spacing: normal;
   line-height: 18px;
   list-style: disc outside none;
   margin: 0px 0px 0px 10px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 0px 0px 20px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: 130px;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .wrapper .value-0 {
   left: 50px;
   width: 100px;
   min-width: 1px;
   background-attachment: scroll;
   background-color: #0c3557;
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: none;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 20px;
   letter-spacing: normal;
   line-height: 18px;
   list-style: disc outside none;
   margin: 0px 0px 5px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 10px 0px 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: relative;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-decoration: none;
   text-indent: -50px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: nowrap;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .wrapper .value-1 {
   left: 50px;
   width: 94.171875px;
   min-width: 1px;
   background-attachment: scroll;
   background-color: #3a8c4f;
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: none;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 20px;
   letter-spacing: normal;
   line-height: 18px;
   list-style: disc outside none;
   margin: 0px 0px 5px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 10px 0px 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: relative;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-decoration: none;
   text-indent: -50px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: nowrap;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .wrapper .value-2 {
   left: 50px;
   width: 92.5px;
   min-width: 1px;
   background-attachment: scroll;
   background-color: #1e7fc2;
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: none;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 20px;
   letter-spacing: normal;
   line-height: 18px;
   list-style: disc outside none;
   margin: 0px 0px 5px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 10px 0px 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: relative;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-decoration: none;
   text-indent: -50px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: nowrap;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .wrapper .value-3 {
   left: 50px;
   width: 47.765625px;
   min-width: 1px;
   background-attachment: scroll;
   background-color: #a6bc3c;
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: none;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 20px;
   letter-spacing: normal;
   line-height: 18px;
   list-style: disc outside none;
   margin: 0px 0px 5px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 10px 0px 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: relative;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-decoration: none;
   text-indent: -50px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: nowrap;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .wrapper .value-4 {
   left: 50px;
   width: 45.234375px;
   min-width: 1px;
   background-attachment: scroll;
   background-color: #ffc75c;
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: none;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 20px;
   letter-spacing: normal;
   line-height: 18px;
   list-style: disc outside none;
   margin: 0px 0px 5px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 10px 0px 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: relative;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-decoration: none;
   text-indent: -50px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: nowrap;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .legend {
   padding: 20px 10px 10px;
   background-attachment: scroll;
   background-color: rgba(0, 0, 0, 0);
   background-image: url(https://www.easel.io../images/white.png);
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: none;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 0px;
   left: auto;
   letter-spacing: normal;
   line-height: 18px;
   list-style: none outside none;
   margin: 0px 20px 0px 0px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: 210px;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0px 0px;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .legend li {
   background-attachment: scroll;
   background-color: rgba(0, 0, 0, 0);
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: list-item;
   empty-cells: show;
   float: left;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 13px;
   left: auto;
   letter-spacing: normal;
   line-height: 13.199999809265137px;
   list-style: none outside none;
   margin: 0px 5px 5px 0px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-align: left;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: 100px;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .legend li .value-0 {
   background-attachment: scroll;
   background-color: #0c3557;
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: left;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 10px;
   left: auto;
   letter-spacing: normal;
   line-height: 13.199999809265137px;
   list-style: none outside none;
   margin: 3px 5px 0px 0px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-align: left;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: 10px;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .legend li a {
   background-attachment: scroll;
   background-color: rgba(0, 0, 0, 0);
   background-image: none;
   border: 0px none #106aa7;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #106aa7;
   cursor: auto;
   direction: ltr;
   display: inline;
   empty-cells: show;
   float: none;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: auto;
   left: auto;
   letter-spacing: normal;
   line-height: 13.199999809265137px;
   list-style: none outside none;
   margin: 0px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #106aa7 none 0px;
   overflow: visible;
   padding: 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-align: left;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: auto;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .legend li .value-1 {
   background-attachment: scroll;
   background-color: #3a8c4f;
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: left;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 10px;
   left: auto;
   letter-spacing: normal;
   line-height: 13.199999809265137px;
   list-style: none outside none;
   margin: 3px 5px 0px 0px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-align: left;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: 10px;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .legend li .value-2 {
   background-attachment: scroll;
   background-color: #1e7fc2;
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: left;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 10px;
   left: auto;
   letter-spacing: normal;
   line-height: 13.199999809265137px;
   list-style: none outside none;
   margin: 3px 5px 0px 0px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-align: left;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: 10px;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .legend li .value-3 {
   background-attachment: scroll;
   background-color: #a6bc3c;
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: left;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 10px;
   left: auto;
   letter-spacing: normal;
   line-height: 13.199999809265137px;
   list-style: none outside none;
   margin: 3px 5px 0px 0px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-align: left;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: 10px;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span3 .well .topHoldings.div-609708 .chart .legend li .value-4 {
   background-attachment: scroll;
   background-color: #ffc75c;
   background-image: none;
   border: 0px none #222222;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-collapse: separate;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   bottom: auto;
   box-shadow: none;
   caption-side: top;
   clear: none;
   clip: auto;
   color: #222222;
   cursor: auto;
   direction: ltr;
   display: block;
   empty-cells: show;
   float: left;
   font-family: helvetica, arial, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 10px;
   left: auto;
   letter-spacing: normal;
   line-height: 13.199999809265137px;
   list-style: none outside none;
   margin: 3px 5px 0px 0px;
   max-height: none;
   max-width: none;
   min-height: 0px;
   min-width: 0px;
   opacity: 1;
   outline: #222222 none 0px;
   overflow: visible;
   padding: 0px;
   page-break-after: auto;
   page-break-before: auto;
   page-break-inside: auto;
   position: static;
   right: auto;
   speak: normal;
   table-layout: auto;
   text-align: left;
   text-decoration: none;
   text-indent: 0px;
   text-shadow: none;
   text-overflow: clip;
   text-transform: none;
   top: auto;
   unicode-bidi: normal;
   vertical-align: baseline;
   visibility: visible;
   white-space: normal;
   width: 10px;
   word-spacing: 0px;
   word-wrap: normal;
   z-index: auto;
   zoom: 1;
   -webkit-box-shadow: none;
   background-position: 0% 0%;
   background-repeat: repeat repeat;
 }
 .container .row-fluid .span6 .well .heading.heading-1 {
   margin: 0px;
   font-size: 14px;
   line-height: 20px;
 }
 .container .row-fluid .span6 .well .heading.heading-2 {
   font-size: 16px;
 }
 .container .row-fluid .span6 .well p.p-3 {
   font-size: 12px;
   line-height: 18px;
 }
 .container .row-fluid .span6 .well .navbar {
   height: 42px;
 }
 .container .row-fluid .span6 .well .navbar .navbar-inner {
   height: 42px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .container .row-fluid .span6 .well .navbar .navbar-inner.navbar-inner-1 {
   background: #14c1ab;
 }
 .container .row-fluid .span6 .well .navbar .navbar-inner-1 .brand .icon.icon-facebook-sign {
   color: #2f497d;
 }
 .container .row-fluid .span6 .well .navbar .navbar-inner-1 .nav {
   margin: 0px 10px 0px 500px;
 }
 .container .row-fluid .span6 .well .navbar .navbar-inner-1 .nav .divider a {
   color: rgba(7, 8, 7, 0);
 }
 .container .row-fluid .span6 .well .navbar .navbar-inner-1 .nav li a.a-1 {
   color: rgba(119, 119, 119, 0);
 }
 .container .row-fluid .span6 .well .navbar .navbar-inner-1 .nav li a .icon.icon-globe {
   color: #ffffff;
 }
 .container .row-fluid .span6 .well .navbar .navbar-inner-1 .nav li a .icon.icon-group {
   color: rgba(119, 119, 119, 0);
 }
 .container .row-fluid .span6 .well .navbar .navbar-inner-1 .nav li a .icon.icon-envelope-alt {
   color: rgba(119, 119, 119, 0);
 }
 .container .row-fluid .span6 .well .navbar .navbar-inner-1 .nav li a .icon.icon-user {
   color: #f7f7f7;
 }
 .container .row-fluid .span6 .well .navbar .navbar-inner-1 .nav li a .icon.icon-cog {
   color: #fafffe;
 }