.profileImage {
    width: 100%;
}

.simplePostImage {
    width: 64px;
    height: 64px;
}

.commentImage {
    width: 32px;
    height: 32px;
}

.commentInitiator {
    padding-right: 10px;
}

.progress {
    margin-bottom: 0px;
}

#main-content {
    min-height: 100%;
    height: auto;

}

#main-content > .row-fluid {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

#main-content > .row-fluid [class*="col-lg"], #main-content > .row-fluid [class*="col-md"], #main-content > .row-fluid [class*="col-sm"] {
    float: none;
    display: inline-block;
}

.featuredImgDiv {
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: grey;
}

.featuredImgDiv img {
    width: 100%;
}

.cs-navbar-items {
    padding-top: 5px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    width: 100px !important;
}

.active-tab {
    border-bottom: 5px solid orange;
}

.navbar-default {
    background-color: #fff !important;
}

body {
    background: lightgray !important;
}

.panel {
    background-color: #fff;
    border-bottom: 1px solid lightgrey !important;
    margin-bottom: 5px !important;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.social {
    overflow-y: scroll;
    background: #fff;
    padding: 10px;
}

.name {
    font-size: 11px;
}

.user-feed-top {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-left: 2px;

}

.news-feed-name {
    font-weight: 600;
    font-size: 13px;
}

.news-feed-content {
    font-size: 11px;
    text-align: left;
}

.panel-footer {
    padding: 0 !important;
    background-color: #fff !important;
    border-top: none !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-body {
    padding: 1px !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.social-profile-header {
    text-align: center;
    float: left;
    margin-right: 5px;
    font-size: 10px;
    font-weight: 600;
}

.follow {
    background: green !important;
    color: white !important;
}

.filterPanel {
    border-right: 1px solid lightgray;
    margin-top: 12px;
}

.filter-panel-heading {
    font-size: 12px;
    font-weight: 600;
    padding: 15px;
    text-align: center;
}

.filterList {
    list-style: none;
    margin-left: -40px;
    font-weight: 600;
}

.filterList a {
    color: lightgray;
    text-decoration: none;
}

.range-slider {
    margin-bottom: 15px;
}

.heading {
    font-weight: 600;
}

.filter-fund-name {
    color: gray;
    text-decoration: none;
    word-break: break-all;
}

.child {
    list-style: none;
    margin-left: -25px;
}